name: Build H5GG

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y git make perl clang dpkg-dev ldid

    - name: Install Theos
      run: |
        git clone --recursive https://github.com/theos/theos.git ~/theos
        echo "export THEOS=~/theos" >> ~/.bashrc
        source ~/.bashrc

    - name: Build tweak
      run: |
        export THEOS=~/theos
        make package

    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: h5gg-deb
        path: packages/*.deb
