name: Build H5GG

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y git make perl clang dpkg-dev curl unzip

# 安装 ldid（从 Procursus 下载预编译版本）
curl -LO https://apt.procurs.us/pool/main/l/ldid/ldid_2.1.5-procursus2_amd64.deb
sudo dpkg -i ldid_2.1.5-procursus2_amd64.deb


    - name: Install Theos
      run: |
        git clone --recursive https://github.com/theos/theos.git ~/theos
        echo "export THEOS=~/theos" >> ~/.bashrc
        source ~/.bashrc

    - name: Build tweak
      run: |
        export THEOS=~/theos
        make package

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: h5gg-deb
        path: packages/*.deb
